name: Run and Validate Unit Tests

on:
  push:
    branches: 
      - '**'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Execute Unit Tests
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 1
      matrix:
        python-version:
          - 3.8
        os:
          - ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@master
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install modules
        run: |
          python -m pip install --upgrade requests deprecated
      - name: Executes Unit Tests
        run: python -m tests.test_all
